body::before {
  content: "";
  background-image: url( ./assets/cloth_background.jpg );
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
  z-index: -9999;
}

.app-content {
  min-height: 80vh;
}

/******************** Nav bar ********************/

.logo {
  font-family: "Bitstream Vera Serif Bold";
  font-size: 2rem;
  padding: 1rem;
}

.login-form { margin: 1rem; }

.categories {
  display: flex;
  justify-content: center;
}

/******************** User forms ********************/

.user-errors { color: red; }

/******************** Leaflet map ********************/

#mapid {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 225px;
}

